/* div, a{border: 1px solid lightgray;} */

.calc{
    width: 422px; height: 536px; margin: auto;
    background-color:#ffb400;
    border-radius: 25px;
    padding-top: 27px;
}
.calc .monitor{text-align: center;}
.calc .disp{width: 387px; height: 90px; 
            background-color:lightcyan;
            border-radius: 20px;
            margin-left: auto; margin-right: auto;
            margin-bottom: 15px;
        }
input{font-size: 40px; text-align: right;}

.calc .btns {
    width: 384px;
    margin-left: auto; margin-right: auto;
}
.calc .btns button{
    display:block; 
    width: 86px; height: 68.8px; 
    float: left; margin: 5px; border-radius: 18px;
    color: black; font-size: 60px;
    text-align:center; text-decoration: none;
    
}

.calc .btns button:hover {
    background-color: lawngreen;
}

.calc .btns .btn_numb{background-color: #ffdab9;line-height: 60px;}
.calc .btns .btn_sign{background-color: #ff8c00;line-height: 55px;}



/* .calc .btns a.test:hover {
    background-color: lawngreen;
} */
