@mixin clearfix {
    content: "";
    display: block;
    clear: both;
}

* {
    box-sizing: border-box;
}

ul {
    padding: 0;
    list-style: none;
}

.calc {
    &::after {
        @include clearfix;
    }
    section {
        float: left;
        .disp_Expr {
            height: 24px;
            padding: 5px 0;
            font-size: 14px;
        }
        .disp_Rslt {
            height: 40px;
            padding: 0 0 10px 0;
            font-size: 30px;
        }
        .func,
        .btns {
            ul {
                margin: 0;
                &::after {
                    @include clearfix;
                }
                li {
                    float: left;
                    a {
                        display: table-cell;
                        width: 50px;
                        height: 50px;
                        border: 1px solid lightblue;
                        text-align: center;
                        vertical-align: middle;
                    }
                }
            }
        }
        .func {
            ul {
                li {
                    a {
                        height: 30px;
                    }
                }
            }
        }
    }
    aside {
        float: left;
    }
    div[class^="disp_"] {
        color: #555;
        background-color: antiquewhite;
    }
}